[Desktop Entry]
Encoding=UTF-8
Name=Link to Not specified
Type=Link
URL=https://images.ctfassets.net/3s6ohrza3ily/7Co7LDRifeUQGcSYwOUKyA/8e0c565de33445ac8d1166bc812f56d2/infinite-scroll-separator.svg
Icon=image-svg+xml
Name[en_IN]=bg-img
