[Desktop Entry]
Encoding=UTF-8
Name=Link to Not specified
Type=Link
URL=https://cdn.cookielaw.org/logos/b7f992ed-a2f9-447a-90af-da78d91e7bac/399b9c81-bfa2-43e4-a084-4b88f050b954/CHO%C2%AE_WM_REG_RGB_560.png
Icon=application-octet-stream
