[Desktop Entry]
Encoding=UTF-8
Name=Link to Not specified
Type=Link
URL=https://images.ctfassets.net/3s6ohrza3ily/2hQF8M9jE5xIX09AF7evfs/d803c639088cb25a6598b0171d0259e8/CMPLT_Homepage-Hero-Header_H.png?fm=webp&w=1440
Icon=image-webp
